//scssはcssの手間を省いたもの

.wrapper{ 
  margin-bottom: 74px;
  padding: 20px 20px 20px 35px;

  .row {
    border-bottom: 1px solid #ccc;
    padding: 20px;
    text-align: left;
    word-wrap: break-word;
  }
}

input[type="submit"].btn-block{
  margin: 15px 0;
}

.container{
  padding-bottom: 85px;
}

header {
  width: 100%;
  background-color: #2c3e50;
  height: 54px;
}

/*
header ul {
  margin: 0 auto;
  list-style: none;
}

header ul a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: white;
} 

header li {
  float: left;
  //width: auto;
}
header ul:after {
  content: "";
  display: block;
  clear: both;
} */

.navbar-default {
    border: 0;
}
.navbar {
    background-color: transparent;
    color: white;
    margin-bottom: 0px;
}
.navbar-default {
  .navbar-brand {
    color: #ccc;
    &:hover {
      color: white;
    }
  }
  .navbar-nav > li > a {
    color: #ccc;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-nav > .open > a {
    background-color: transparent;
    color: white;
    &:hover, &:focus {
      background-color: transparent;
      color: white;
    }
  }
}
@media (max-width: 767px) {
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ccc;
    text-align: center;
    &:hover, &:focus {
      color: white;
    }
  }
  .navbar-default .navbar-toggle {
    background-color: transparent;
    &:hover, &:focus {
      background-color: transparent;
    }
  }
}

.main-header {
  padding-bottom: 15%;
  width: 100%;
  background-size: cover;
  background-image: image-url("header.jpg");
  //image-urlでassts/imagesまでのパスを自動生成
  background-attachment: fixed;
}

.main-header img {
  display: block;
  margin: 0 auto;
  width: 25%;
  padding-top: 15%;
}

.about {
  
  background-color: white;
  color: #333;
  padding: 80px;
}

.function {
  background-color: #e9e9e9;
  padding: 80px;
  padding-bottom: 185px;
}

.page-top-btn {
  display: none; //最初はボタン非表示
  border-radius: 50px;
  background: #336699;
  width: 60px;
  height: 60px;
  transition: all 0.3s;
  cursor: pointer;
  position: fixed; //右下に固定
  right: 30px;
  bottom: 30px;
  z-index: 20;

  a {
    display: block;
    color: white;
    line-height: 60px;
    text-decoration: none;
  }
  &:hover { //ボタンの上にカーソルのせるとフェードアウト
    opacity: 0.7;
  }
}

/*
.function-images {
  width: 100%;
  display: table;
  margin-top: 60px;
  table-layout: fixed;
}

.function-image {
  display: table-cell;
  width: 100%;
}
*/

html {
  position: relative;
  min-height: 100%;
}

body {
  text-align: center;
  background-color: #e9e9e9;
}

footer {
  width: 100%;
  background-color:#2c3e50;
  padding: 20px 0 10px 0;
  color: white;
  margin: auto;
  font-size: 12px;
  position: absolute;
  bottom: 0;
}

// Place all the styles related to the Top controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
